
<!--% @all_projects.each do |ap| %-->
<% projects.each do |ap| %>

<!--% if (ap.nil? == false) %-->
    <p style="text-align: center; font-family: cursive; padding-bottom: 0px; margin-bottom: 0px;">
        <b><h4 style="font-family: cursive;">&#8226; <%= ap[1] %> (<%= ap[3] %> app) &#8226;</h4></b>
    </p>

	<p style="text-align: left; padding-top: 0px; margin-top: 0px;">
		<%= ap[2] %> 
			The existing code is here: <a href=<%= ap[4] %>><%= ap[1] + " " + ap[3] %> (repo)</a>.&nbsp;
			<% if ap[5].length > 0 %>
				The web app is hosted <a href=<%= ap[5] %>>here</a>.
			<% end %>
		<% if ap[3] == "desktop" %>
			<% if ap[1] == "Based Paint Program" %>
				<div class="carouselContainer"> 
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<%= image_tag("basedPaintProgram/paintProgram_01.png", :class => "carouselImage") %>
								<%= image_tag("basedPaintProgram/paintProgram_02.png", :class => "carouselImage") %>
								<%= image_tag("basedPaintProgram/paintProgram_03.png", :class => "carouselImage") %>
							</div>
							<div class="carousel-item">
								<%= image_tag("basedPaintProgram/paintProgram_04.png", :class => "carouselImage") %>
                                <%= image_tag("basedPaintProgram/paintProgram_05.png", :class => "carouselImage") %>
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
            <% end %>
			<% if ap[1] == "Text Editor" %>
				<div class="carouselContainer"> 
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<%= image_tag("textEditorProject/delete10.png", :class => "carouselImage") %>
								<%= image_tag("textEditorProject/delete09.png", :class => "carouselImage") %>
								<%= image_tag("textEditorProject/delete03.png", :class => "carouselImage") %>
							</div>
							<div class="carousel-item">
								<%= image_tag("textEditorProject/delete04.png", :class => "carouselImage") %>
							<%= image_tag("textEditorProject/delete05.png", :class => "carouselImage") %>
							</div>
							<div class="carousel-item">
								<%= image_tag("textEditorProject/delete01.png", :class => "carouselImage") %>
								<%= image_tag("textEditorProject/delete02.png", :class => "carouselImage") %>
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			<% end %>
			<% if ap[1] == "Basic and Scientific Calculator" %>
				<div class="carouselContainer"> 
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<%= image_tag("scientificCalcProject/basicCalc01.png", :class => "carouselImage") %>
								<%= image_tag("scientificCalcProject/basicCalc02.png", :class => "carouselImage") %>
								<%= image_tag("scientificCalcProject/basicCalc03.png", :class => "carouselImage") %>
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			<% end %>
		<% end %>
	</p>

	<p style="font-family: cursive; font-size: 18px;">
		<b>Technologies used:</b><br>
		<% @t = Tech.where(project_id: ap[0]) %>
		<% @full_t = @t.attribute_names %>
		<% stopCol = ["id","created_at","updated_at", "project_id"] %>
		<% @full_t = @full_t.reject{ |e| stopCol.include? e } %>
		<% remove = [] %>
		<% @full_t.each do |name| %>
			<% if Tech.where("project_id = ?", ap[0]).pluck("#{name}").first == false %>	
				<% remove << name %>
			<% end %>
		<% end %>
		<% @full_t = @full_t.reject{ |e| remove.include? e } %>
		<% @cp_full_t = @full_t.dup %>
		<!--% if @full_t.empty? %>
			% execute = false %>
		% else %-->
			<% left, right = @full_t.each_slice((@full_t.size/2.0).round).to_a %>
			<% left_subL, left_subR = left.each_slice((left.size/2.0).round).to_a %>
			<% right_subL, right_subR = right.each_slice((right.size/2.0).round).to_a %>
			<% rr_sub = (right - right_subL) %>
			<% execute = true %>
		<!--% end %-->


		<div class="row">
			<div class="four">
				<!--% if (execute == true) %-->
				<% if (!left_subL.nil?) %>
					<% left_subL.each do |a_name| %>
						<% if Tech.where("project_id = ?", ap[0]).pluck("#{a_name}").first == true %>	
							<span style="font-size: 16px;">&#8226; <%= a_name.gsub("_"," ").titleize %> &#8226;</span><br>
						<% end %>
					<% end %>
				<% end %>
				<!--% end %-->
			</div>

			<div class="four">
				<!--% if (execute == true) %-->
				<% if (!left_subR.nil?) %>
					<% left_subR.each do |a_name| %>
						<% if Tech.where("project_id = ?", ap[0]).pluck("#{a_name}").first == true %>	
							<span style="font-size: 16px;">&#8226; <%= a_name.gsub("_"," ").titleize %> &#8226;</span><br>
						<% end %>
					<% end %>
				<% end %>
				<!--% end %-->
			</div>

			<div class="four">
				<!--% if (execute == true) %-->
				<% if (!right_subL.nil?) %>
					<% right_subL.each do |a_name| %>
						<% if Tech.where("project_id = ?", ap[0]).pluck("#{a_name}").first == true %>	
							<span style="font-size: 16px;">&#8226; <%= a_name.gsub("_"," ").titleize %> &#8226;</span><br>
						<% end %>
					<% end %>
				<% end %>
				<!--% end %-->
			</div>

			<div class="four">
				<!--% if (execute == true) %-->
				<% if (!rr_sub.nil?) %>
					<% rr_sub.each do |a_name| %>
						<% if Tech.where("project_id = ?", ap[0]).pluck("#{a_name}").first == true %>	
							<span style="font-size: 16px;">&#8226; <%= a_name.gsub("_"," ").titleize %> &#8226;</span><br>
						<% end %>
					<% end %>
				<% end %>
				<!--% end %-->
			</div>
		</div>

	</p>
	<br><br>
				
<!--% end %-->
<% end %>

